<div class="sidebar" data-color="{{ cookiecutter.sidebar_color }}" data-image="../static/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    <div class="sidebar-wrapper">
        <div class="logo">
            {{ cookiecutter.project_name }}
        </div>
        {% raw %}
            {% if links %}
                {% include "sidebar_links.html" %}
            {% endif %}
        {% endraw %} 
    </div>
</div>